body{
    min-height: 100vh;
    background-image: url(img/all.jpg);
}
p{
    background: rgba(180, 180, 180, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 150px;
    text-align: center;
    border: 1px solid #ffffff;
}